Body{background-color: moccasin;background-image: url("../img/1647509304693.jpg")
;background-size: cover;
}
#Customers{
  border-collapse: collapse;width: 100%;
}
#Customers tr, #Customers th{border: 2px solid #555555}
.ace{
  width: 600px;
  height: 380px;
  margin: 90px auto;
  background-size: cover;
  ;
}
a{margin-left: 285px;
margin-top: 20px;color: lightgreen}
input{width: 300px;
  height: 30px;
  border: solid 2px skyblue;
  margin-left: 160px;
  margin-top: 10px;
 }
.ugh{ background-color: moccasin;
  color: indigo;
  height: 45px;
  width: 300px;
  margin-left: 260px;
  margin-top: 10px;}
.ttt{height:35px;
;color: white;
background-color: #d0db70;
width: 308px;
margin-left: 160px;
margin-top: 10px;}
